{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Club
{% endblock %}

{% block is_club_owner %}
    <!-- Blank for club owner, removes Rate link -->
{% endblock %}

{% block body_block %}
    <h1>Add Club</h1>
    <form id="form" method="post" action="{% url 'clubmate:add_club' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" class="form-control" id="name" name="name" required="required">
        </div>
        <div class="form-group">
            <label for="club_description">Club Description*</label>
            <textarea type="text" class="form-control" id="club_description" name="club_description" rows="5"
                      required="required"></textarea>
        </div>
        <div class="form-group">
            <label for="city">City*</label>
            <input type="text" class="form-control" id="city" name="city" required="required">
        </div>
        <div class="form-group">
            <label for="website_url">Website*</label>
            <input type="url" class="form-control" id="website_url" name="website_url" required="required">
        </div>
        <div class="form-group">
            <label for="genre">Genre*</label>
            <input type="text" class="form-control" id="genre" name="genre" required="required">
        </div>
        <div class="form-group">
            <label for="location_coordinates">GPS Coordinates*</label>
            <input type="text" class="form-control" id="location_coordinates" name="location_coordinates"
                   required="required">
            <small id="hint_id_username" class="form-text text-muted" style="-webkit-user-select: auto;">E.g.,
                51.5195856 -0.1024735.</small>
        </div>
        <div class="form-group">
            <label for="entry_fee">Minimum Entry Fee*</label>
            <input type="text" class="form-control" id="entry_fee" name="entry_fee" required="required">
        </div>
        <div class="form-group">
            <label for="opening_hours_week">Opening hours on weekdays*</label>
            <input type="text" class="form-control" id="opening_hours_week" name="opening_hours_week"
                   required="required">
            <small id="hint_id_username" class="form-text text-muted" style="-webkit-user-select: auto;">E.g.,
                8PM–12AM.</small>
        </div>
        <div class="form-group">
            <label for="opening_hours_weekend">Opening hours on weekends*</label>
            <input type="text" class="form-control" id="opening_hours_weekend" name="opening_hours_weekend"
                   required="required">
            <small id="hint_id_username" class="form-text text-muted" style="-webkit-user-select: auto;">E.g.,
                12PM–12AM.</small>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input type="file" id="picture" name="picture">
            <small id="hint_id_username" class="form-text text-muted"
                   style="-webkit-user-select: auto;">Optional.</small>
        </div>
        <div class="checkbox form-group">
            <label for="covid_test_required">COVID Test Required*</label>
            <input type="checkbox" name="covid_test_required" value="True">
        </div>
        <div class="checkbox form-group">
            <label for="underage_visitors_allowed">18+ Entry*</label>
            <input type="checkbox" name="underage_visitors_allowed" value="True">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}