{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit Club
{% endblock %}

{% block body_block %}
    <h1>Edit Club</h1>
    <!--<form id="form" method="post" action="{% url 'clubmate:edit_club' club_id %}" enctype="multipart/form-data">-->
    <form id="form" method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <div class="form-group">
            <label for="name">Club name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ club.name }}">
        </div>
        <div class="form-group">
            <label for="club_description">Briefly describe your club to users</label>
            <textarea type="text" class="form-control" id="club_description" name="club_description" rows="5">{{ club.club_description }}</textarea>
        </div>
        <div class="form-group">
            <label for="entry_fee">Entry fee</label>
            <input type="text" class="form-control" id="entry_fee" name="entry_fee" value="{{ club.entry_fee }}">
        </div>
        <div class="form-group">
            <label for="opening_hours_week">Opening hours on weekdays (eg: 8PM–12AM)</label>
            <input type="text" class="form-control" id="opening_hours_week" name="opening_hours_week" value="{{ club.opening_hours_week }}">
        </div>
        <div class="form-group">
            <label for="opening_hours_weekend">Opening hours on weekends(eg: 12PM–12AM)</label>
            <input type="text" class="form-control" id="opening_hours_weekend" name="opening_hours_weekend" value="{{ club.opening_hours_weekend }}">
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" value="{{ club.genre }}">
        </div>
        <div class="checkbox">
            <label for="covid_test_required">COVID test required</label>
            <input type="checkbox" name="covid_test_required" value="{{ club.covid_test_required }}">
        </div>
        <div class="checkbox">
            <label for="underage_visitors_allowed">18+ entry</label>
            <input type="checkbox" name="underage_visitors_allowed" value="1">
        </div>
        <div class="form-group">
            <label for="website_url">Website</label>
            <input type="text" class="form-control" id="website_url" name="website_url" value="1">
        </div>
        <div class="form-group">
            <label for="location_coordinates">Location (Please input club's coordinates so that we can use it in our location services)</label>
            <input type="text" class="form-control" id="location_coordinates" name="location_coordinates" value="{{ club.location_coordinates }}">
        </div>
        <div class="form-group">
            <label for="picture">image</label>
            <input type="file" id="picture">
        </div>
        <input type="submit" value="Complete">
    </form>
{% endblock %}