{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Test Bootstrap</h1>
    <p>Testing rating high to low</p>

    <div>
        {% for club in clubs %}
            <p class="mb-2">Name: {{ club.name }}</p>
            <p class="mb-2">Avg rating: {{ club.average_rating }}</p>
            <p class="mb-2">Reported safety: {{ club.user_reported_safety }}</p>
            <img src="{{ club.picture.url }}" width="200" class="mb-5">
        {% endfor %}
    </div>
{% endblock %}