{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

# To see demo to help you with the development, access: http://127.0.0.1:8000/profile/group33/

{% block body_block %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ clubmate_user.picture.url }}" width="200" class="mb-2">
            <p>Edit profile picture</p>
        </div>
        <div class="col-md-8">
            <h1>{{ clubmate_user.user.username }}</h1>
            <p>{{ clubmate_user.bio }}</p>
        </div>
    </div>

    <!-- Display saved clubs -->
    <div>
        <h2 class="mt-3 mb-3">Clubs you saved</h2>
        {% for saved_club in clubmate_user.clubs.all %} <!-- Do not forget to add ".all" -->
            <!-- Show the clubs -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% url 'clubmate:club_detail' saved_club.id %}">{{ saved_club.name }}</a> <span
                            class="badge badge-pill badge-dark">⭐ {{ saved_club.average_rating_ }}</span> <span
                            class="badge badge-pill badge-dark">❤️‍🩹 {{ saved_club.user_reported_safety_ }}</span></h5>
                    <p class="card-text">{{ saved_club.club_description }}</p>
                </div>
            </div>
        {% endfor %}
        <!-- Support for edit/delete in missing, was not my part -->
        <!-- Edit rating/ Delete rating and display ratings without)-->
    </div>

    <!-- Can show ratings now, but can only show all ratings instead of user's-->
    <div>
        <h2 class="mt-3 mb-3">Ratings you wrote</h2>
        <!-- display raitngs -->
        {% for rating in ratingList %}
        <div class="card" style="width: 60rem;">
            <div class="card-body">
              <h5 class="card-title">{{ rating.title }}</h5>
              <p class="card-text">{{ rating.user_commentary}}</p>

              <!-- button for delete and edit ratings -->
              <a href="#" class="card-link">
                <button type="button" class="btn btn-primary">Edit your ratings</button>
              </a>
              <a href="#" class="card-link">
                <button type="button" class="btn btn-primary">Edit your ratings</button>
              </a>

            </div>
          </div>
        {% endfor %}
    </div>

        

{% endblock %}