{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block is_club_owner %}
    {% if clubmate_user.is_club_owner %}
        <!-- Empty, remove the Rate link -->
    {% else %}
        <!-- Student, show Rate -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'clubmate:rate' %}">Rate</a>
        </li>
    {% endif %}
{% endblock %}

{% block body_block %}
    <!-- Common to both user roles -->
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'clubmate:edit_picture' user.username %}">
            <img src="{{ clubmate_user.picture.url }}" width="200" class="mb-2" alt="Defaul Profile Image">
                <p>Edit profile picture</p></a>
        </div>
        <div class="col-md-8">
            <h1>{{ clubmate_user.user.username }}</h1>
            <p>{{ clubmate_user.bio }}</p>
        </div>
    </div>

    <!-- Render conditionally, based on user role: Club Owner -->
    {% if clubmate_user.is_club_owner %}
        <!-- Display clubs added -->
        {% for club in clubmate_user.clubs.all %}
            <div class="card mb-3 filter {{ club.genre }} {{ club.city }} {{ club.user_reported_safety_ }} {{ club.underage_visitors_allowed }}-Underage {{ club.covid_test_required }}-Test Rating-{{ club.average_rating_ }}">
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% url 'clubmate:club_detail' club.id %}">{{ club.name }}</a>
                    </h5>
                    <p class="card-text">{{ club.club_description }}</p>
                    <a href="{% url 'clubmate:edit_club' club.id %}">
                        <button type="button" class="btn btn-primary">Edit Club</button>
                    </a>
                    <a href="{% url 'clubmate:delete_club' club.id %}" class="card-link">
                        <button type="button" class="btn btn-primary">Delete Club</button>
                    </a>
                </div>
            </div>
        {% endfor %}

        <!-- Render conditionally, based on user role: Student -->
    {% else %}
        <!-- Display saved clubs -->
        <div class="pt-2 pb-2 pr-2">
            <h2 class="mt-3 mb-3">Clubs Saved</h2>
            {% for saved_club in clubmate_user.clubs.all %} <!-- Do not forget to add ".all" -->
                <!-- Show the clubs -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{% url 'clubmate:club_detail' saved_club.id %}">{{ saved_club.name }}</a> <span
                                class="badge badge-pill badge-dark">⭐ {{ saved_club.average_rating_ }}</span> <span
                                class="badge badge-pill badge-dark">❤️‍🩹 {{ saved_club.user_reported_safety_ }}</span>
                        </h5>
                        <p class="card-text">{{ saved_club.club_description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Display ratings -->
        <div>
        <h2 class="mt-3 mb-3">Ratings Written</h2>
        {% for rating in ratingList %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% url 'clubmate:rating_detail' rating.id %}">{{ rating.title }}</a>
                        <span class="badge rounded-pill bg-dark">👍 {{ rating.number_of_upvotes }}</span>
                    </h5>
                    <p><strong>Created On </strong>{{ rating.posted_at }}</p>
                    <p class="card-text"><strong>Club </strong><a
                            href="{% url 'clubmate:club_detail' rating.club.id %}">{{ rating.club.name }}</a>
                    </p>
                    <p class="card-text"><strong>Rating</strong> <span
                            class="badge badge-pill badge-dark">⭐ {{ rating.rating_score }}</span>
                        <span class="badge badge-pill badge-dark">❤️‍🩹 {{ rating.user_reported_safety_ }}</span>
                    </p>
                    <p class="card-text">{{ rating.user_commentary }}</p>

                    {% if user.is_authenticated %}
                            <a href="{% url 'clubmate:edit_rating' rating.id %}">
                                <button type="button" class="btn btn-primary">Edit Rating</button>
                            </a>
                            <a href="{% url 'clubmate:delete_rating' rating.id %}" class="card-link">
                                <button type="button" class="btn btn-primary">Delete Rating</button>
                            </a>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}