{% extends 'clubmate/base.html' %}
{% load staticfiles %}
{% load social_share %}
{% load crispy_forms_tags %}

{% block title_block %}
    {% if club %}
        Rate {{ club.name }}
    {% else %}
        Rate Detail
    {% endif %}
{% endblock %}

{% block is_club_owner %}
    {% if clubmate_user.is_club_owner %}
        <!-- Empty, remove the Rate link -->
    {% else %}
        <!-- Student, show Rate -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'clubmate:rate' %}">Rate</a>
        </li>
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if club %}
        <h1>Rate {{ club.name }}</h1>
    {% else %}
        <h1>Rate Detail</h1>
    {% endif %}
    <div>
        <form id="form" method="post" action="{% url 'clubmate:rate_detail' club_id %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% post_to_twitter object_or_url "Post to Twitter" %}
            <br>
            <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}