{% extends 'clubmate/base.html' %}
{% load staticfiles %}
{% load social_share %}

{% block title_block %}
    {% if club %}
        Rate {{ club.name }}
    {% else %}
        Rate Detail
    {% endif %}
{% endblock %}

{% block is_club_owner %}
{% endblock %}

{% block body_block %}

    {% if club %}
        <h1>Rate {{ club.name }}</h1>
    {% else %}
        <h1>Rate Detail</h1>
    {% endif %}
    <div>
        <form id="rating_detail_form" method="post" action="{% url 'clubmate:rate_detail' club_id %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}

                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}
            {% post_to_twitter object_or_url "Post to Twitter" %}
            <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}