{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rating Detail
{% endblock %}

{% block is_club_owner %}
{% endblock %}

{% block body_block %}
    <h1>{{ rating.title }} <span class="badge rounded-pill bg-dark">👍 {{ rating.number_of_upvotes }}</span></h1>
    <p><strong>Author </strong><a
            href="{% url 'clubmate:profile' rating.author %}">{{ rating.author }}</a></p>
    <p><strong>Created On </strong>{{ rating.posted_at }}</p>
    <p class="card-text"><strong>Club </strong><a
            href="{% url 'clubmate:club_detail' rating.club.id %}">{{ rating.club.name }}</a></p>
    <p class="card-text"><strong>Rating</strong> <span
            class="badge badge-pill badge-dark">⭐ {{ rating.rating_score }}</span>
        <span class="badge badge-pill badge-dark">❤️‍🩹 {{ rating.user_reported_safety_ }}</span></p>
    <p class="card-text">{{ rating.user_commentary }}</p>
{% endblock %}