{% extends 'clubmate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rate Content
{% endblock %}

{% block body_block %}
    <h1>{{ rating.title }} <span class="badge rounded-pill bg-dark">👍 {{ rating.number_of_upvotes }}</span></h1>
    <p><strong>Author </strong>{{ rating.author }}</p>
    <p><strong>Created On </strong>{{ rating.posted_at }}</p>
    <p><strong>Club </strong>{{ rating.club.name }}</p>
    <p><strong>Rating </strong><span class="badge rounded-pill bg-dark">⭐ {{ rating.rating_score }}</span></p>
    <p><strong>Reported Safety </strong><span
            class="badge rounded-pill bg-dark">❤️‍🩹 {{ rating.user_reported_safety_ }}</span></p>
    <p class="card-text">{{ rating.user_commentary }}</p>
{% endblock %}