body {
    height: 100%;
    margin: 0;
    color: white;
}

.cover {
    background-image: url("?");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.align-right {
    padding: 0;
    margin: 0;
    float: right;
    display: block;
}

#map {
    height: 200px;
}

#search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-list li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    display: block;
}

#search-list li a:hover:not(.header) {
    background-color: #eee;
}


#elements {
    display: none;
}

#search-input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

div#div-filtering-message {
    display: none;
}
